{
  "parser": "@babel/eslint-parser",
  "extends": "react-app",
  "plugins": [
    "ft-flow"
  ],
  "rules": {
  },
  "settings": {
    "ft-flow": {
      "onlyFilesWithFlowAnnotation": false
    }
  }
}