.list-group-item {
  border: 2px solid grey;
  margin: 0px 10px;
  padding: 5px 10px;
  list-style: none;
}
.empty-list {
  border: 1px solid black;
  padding: 5px 10px 30px;
  list-style: none;
  color: grey;
}

.left {
  float: left;
}

.right {
  float: right;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#F14E4E;
  text-align:center;
  transition: all 0.2s;
  }
button.right:hover{
  background-color: black;
}

.clear {
  clear: both;
}
