
.rg-ur-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rg-upload-recipe {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.rg-upload-recipe .file-drop-zone {
  border: 1px solid #d3d3d3;
  background-color: #fffcfc;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.rg-upload-recipe .file-drop-zone .icon {
  font-size: 4em;
}

.rg-upload-recipe .file-drop-zone h6 {
  color: black;
  font-size: 1em;
}

.rg-upload-recipe .file-drop-zone p {
  color: rgba(0,0,0,0.5);
  font-size: 0.7em;
}

.rg-upload-recipe .file-drop-zone input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.rg-upload-recipe .file-loading-status {
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.rg-upload-recipe .file-loading-status > * {
  width: 100%;
}

.file-loading-status .status-details {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  align-items: center;
  padding: 10px;
}

.file-loading-status .status-details .main-icon {
  justify-self: flex-start;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.file-loading-status .status-details .main-icon p {
  margin-bottom: 0;
  margin-left: 10px;
  text-align: left;
  width: 100%;
}

.file-loading-status .status-details .status-icon {
  justify-self: flex-end;
  flex: 1;
  text-align: right;
  font-size: 0.9em;
}

.file-loading-status .status-bar {
  min-height: 3px;
  width: 100%;
  background-color: rgb(1, 181, 76);
  border-radius: 10px;
}