.review{
    padding: 10px;
}

.review-avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.body{
 font-size : 14px;
 font-weight : normal;
 text-transform: lowercase;
 text-decoration: none;
 margin-bottom:1px;
 margin-left: 2px;
}

.body:first-letter{
    text-transform:capitalize;
}

.username{
    margin-bottom:1px;
}

.stars{
    display: inline-block;
    margin: auto;
}

.time{
    font-weight : normal;
    margin-left: 2px;
}

